{% extends "base.html" %}

{% block title %} 🔫 QR Shooter - FAQ {% endblock %}

{% block content %}

<h1>Qr-Shooter - FAQ</h1>
<hr />

<h2>How to play?</h2>

	<p>Scan QR codes given to other participants and shoot them. Each QR code scanned of a perticipant will award you 10 points. Also play games hosted throughout the college, WIN and scan the winner code to redeem heapload of points!!!</p>

<h2>When does the game start and end?</h2>

	<p>The eggs can be caught from Wednesday 5th April to Wednesday 19th April.</p>

	<p>A closing ceremony will take place at SQ Pub that evening.</p>

<h2>What do we win?</h2>

	<p>Suprizessss.</p>

<h2>Can I keep track of my points and the leaderboard?</h2>

	<p>You can keep a track of your points from the top right corner and clicking on my profile. <strong>Make sure not to click on logout else you wont be able to login back and end up losing your progress!!</strong></p>

<h2>Can I shoot a player more than once?</h2>
<p> NO!! You cannot scan a QR code more than once. Itna bhi scam mat karo yaar ;-;</p>

<h2>Can I scan my own QR code?</h2>
<p> Yes you can and start off with free 10 points :)</p>



<!-- <h2>Is there an API?</h2>

	<P><A HREF="/api">Yes!</A></P> -->

{% endblock %}
