{% extends "base.html" %}

{% block title %} 🔫 QR Shooter{% endblock %}

{% block content %}

<h1>🔫 QR Shooter</h1>
<hr />

{% if player %}

<h2>🔫 Latest TAGS</h2>

<table class="table table-responsive table-hover">
  <tr>
    <th>Date</th>
    <th>Enemy Tagged</th>
    <th>Player</th>
  </tr>
  {% for c in catches %}
  <tr>
    <td>{{c.date}}</td>
    <td><a href="/egg/{{ c.egg.id }}/">{{ c.egg.name }}</a></td>
    <td><a href="/player/{{ c.player.id }}/">{{ c.player.name }}</a></td>
  </tr>
  {% endfor %}
</table>

<h2>🏅 Leaderboard</h2>

<table class="table table-responsive table-hover">
  <tr>
    <th></th>
    <th>Player</th>
    <th>Enemy Tagged</th>
    <th>Score</th>
  </tr>
  {% for p in players_by_eggs_and_score %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="/player/{{ p.id }}/">{{ p.name }}</a></td>
    <td>{{ p.number_of_eggs }}</td>
    <td>{{ p.score }}</td>
  </tr>
  {% endfor %}
</table>

  <!-- {% if player.egg_eurochicken %}
  <H2>🐔 EuroChicken: Pickup <A HREF="/player/eurochicken/{{ player.code_eurochicken }}/">{{ player.egg_eurochicken.name }}</A></H2>
  <P>{% if player.egg_eurochicken.image %}<A HREF="/player/eurochicken/{{ player.code_eurochicken }}/"><img src="{{ player.egg_eurochicken.image.url }}" width=120 />{% endif %}</A></P>
  {% else %}
  <H2>🐔 EuroChicken</H2>
  <P>Next EuroChicken: {{ player.next_eurochicken_start }}</P>
  <P>EuroChicken will let you pick a random egg among all the ones that were already caught.</P>
  {% endif %} -->

<HR>

<P>Playing as <A HREF="/player/{{ player.id }}">{{ player.name }}</A>, {{ player.number_of_eggs }} tag{{ player.number_of_eggs|pluralize }}, {{ player.score }} points.</P>

<P>[<A HREF="/players/">All Players</A>] </P>
<!-- [<A HREF="/eggs/">All Eggs</A>] [<A HREF="/api">REST API</A>] -->
<!-- <P>[<A HREF="https://expo.io/@onigoetz/egg-hunt">Expo Mobile App</A>] by Stéphane G.</P> -->

<P>[<A HREF="/logout">Logout</A>]</P>

{% else %}


<h2>How to play?</h2>

<p>Scan QR codes given to other participants and shoot them. Each QR code scanned of a perticipant will award you 10
  points. Also play games hosted throughout the college, WIN and scan the winner code to redeem heapload of points!!!
</p>

<h2>When does the game start and end?</h2>

<p>The eggs can be caught from Wednesday 5th April to Wednesday 19th April.</p>

<p>A closing ceremony will take place at SQ Pub that evening.</p>

<h2>What do we win?</h2>

<p>Suprizessss.</p>

<h2>Can I keep track of my points and the leaderboard?</h2>

<p>You can keep a track of your points from the top right corner and clicking on my profile. <strong>Make sure not to
    click on logout else you wont be able to login back and end up losing your progress!!</strong></p>

<h2>Can I shoot a player more than once?</h2>
<p> NO!! You cannot scan a QR code more than once. Itna bhi scam mat karo yaar ;-;</p>

<h2>Can I scan my own QR code?</h2>
<p> Yes you can and start off with free 10 points :)</p>

{% endif %}

<!--
Sample eggs

EggCentrik http://sqpub.ch/egg/a3d028e9e3c543fc8817db3144b537e7
EggScandal http://sqpub.ch/egg/2eea1dcf05914a6e9b7c8d4ef0638165
-->

{% endblock %}
