asgiref
certifi
charset-normalizer
defusedxml
diff-match-patch
dj-database-url
Django
django-crispy-forms
django-extensions
django-heroku
django-import-export
django-phone-field
django-phonenumber-field
django-phonenumbers
django-qr-code
django-resized
django-rest-knox
et-xmlfile
Flask
Flask-Login
Flask-Migrate
Flask-Script
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
gunicorn
idna
MarkupPy
odfpy
openpyxl
Pillow
phonenumbers
psycopg2
pycryptodome
PyYAML
requests
six
sqlparse
tablib
tzdata
urllib3
virtualenv
whitenoise
xlrd
xlwt
